@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.content {
    flex: 1;
}

.side {
    flex: 2;
    & > div {
        margin-bottom: 1rem;
    }
}