@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.required :after {
    content: " *";
    color: red;
  }

.content {
    flex: 1;
}

.side {
    flex: 2;
    & > div {
        & > table {
            width: 100%;
        }
    }
}   