<p id="notice"><%= notice %></p>


<h1>Addresses for <%= @person.display_name %>
</h1>

<%= render "list", addresses: @addresses %>
<%= link_to "Add new address to #{@person.display_name}", new_person_address_path(@person) %>

<br>
